<ion-grid>
    <ion-row>
        <ion-card class="login-form">
            <ion-card-header>
                <ion-card-subtitle class="ion-text-center">app-XIBATA</ion-card-subtitle>
                <ion-card-title>LOGIN</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-input placeholder="login"></ion-input>
                <ion-input placeholder="senha" type="password"></ion-input>
            </ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="warning" ion-ripple-effect (click)="login()">Login</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-row>
</ion-grid>