<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row *ngFor="let row of chartRows">
        <ion-col *ngFor="let card of row.cols" [size]='12 / row.cols.length'>
          <ion-card>
            <ion-card-content>
              <canvas [id]="card.id"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openFilter()">
      <ion-fab-button>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
</ion-content>