<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sensors">
      <ion-icon name="thermometer-outline"></ion-icon>
      <ion-label>Sensores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>